<div class="cohortxblock_block">
	<h1>{{self.general_title}}</h1>
	<h3>{{self.instructions}}</h3>
	<select name="student_cohort_list" id="student_cohort_list">
		{% for cohort in self.cohort_display %}
			{% if cohort == self.selected_cohort %}
				<option value="{{cohort}}" selected>{{cohort}}</option>
			{% else %}
				<option value="{{cohort}}">{{cohort}}</option>
			{% endif %}
		{% endfor %}
	</select>
	<div id="notification_messages" style="color: green"></div>
	<div id="error_messages" style="color: red></div>
	<div style="padding: 50px;padding-bottom: 0px;float: right;">
        <button id ="btn" type="button" class="cohortxblock_block">Submit</button>    
    </div>	
</div>                                                                          